body {
  height: 100%;
  margin: 0;        /* removes the default white border */
  padding-top: 80px; 
  background-color: #0F172A;
  color: white;
}
p{
  font-family: 'Ubuntu', Arial;
  margin-top: 0;
  margin-bottom: 0;
}