header{
    font-family: 'Ubuntu', Arial;
    font-weight: bold;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 1px;
    height: 100px;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;

}
.left-section{
    background-color: red;
    margin-left: 20px;
}
.about-button,
.projects-button{
    margin-right: 100px;
    font-size: 24px;
}
.middle-section{
    background-color: green;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
}
/*
.name-box{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
*/


.name-intro{
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}
.name{
    font-size: 50px;
    margin: 0;
}
.right-section{
    background-color: yellow;
}