main{
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Ubuntu', Arial;
    
}
section{
  scroll-margin-top: 120px;
}
.about{
    background-color: #2A2E33;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
   
    
}
.about-title{
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
}
.about-description{
    font-size: 24px;
    line-height: 1.6;
}
.about-picture{
    width: 300px;
    aspect-ratio: 3 / 4; 
    flex-shrink: 0;
}
.profile-picture{
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}
.projects{
    
}
.projects-title{
    border: 3px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    background-color: #2A2E33;
    padding: 20px;
    margin-bottom: 60px;
    font-size: 36px;
}
.projects-preview{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 100px;
}
.projects-info-grid{
    border: 3px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    background-color: #2A2E33;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px;

    min-height: 200px;

}
.project-picture{
    width: 100%;
    border-radius: 8px;
}
.project-info{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%; 
}
.project-title{
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}
.project-description{
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
}
.skills-container{
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}
.skill{
    width: 50px;
}