main{
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Ubuntu', Arial;
    
}
.about{
    background-color: #2A2E33;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.08);
    
}
.about-title{
    font-size: 36px;
}
.about-description{
    font-size: 24px;
}
.projects{
    
}
.projects-title{
    border: 3px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    background-color: #2A2E33;
    padding: 20px;
    margin-bottom: 100px;
    font-size: 36px;
}
.projects-preview{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 200px;
}
.projects-info-grid{
    border: 3px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    background-color: #2A2E33;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 20px;
}
.project-picture{
    width: 100%;
}
.project-info{
    margin-left: 20px;
}
.project-title{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 
}
.project-description{
    font-size: 16px;
    margin: 0;
}